.homebutton{
  padding: 20px;
  width: 250px;
  background-color:#FFFDF0;
  text-align: center;
  margin:5px;
  color: black;
  transition-duration: 0.2s;
  cursor: pointer;
}
/*display the items horizontally*/
.product-list {
  display: flex;
  flex-direction: row; /* Keep the items in a row */
  flex-wrap: wrap; /* Allow items to wrap to the next row when needed */
  margin-left: 13px; /* Left margin */
}
/*control the size of each time while shrinking*/
.product {
  flex: 1 1 200px; /* Each item can shrink or grow, but will take at least 200px */
  box-sizing: border-box; /* Prevents overflow */
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.homebutton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 transition-duration: 0.7s;

}

